* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    color: #fff;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #1c1c1c;
    padding: 24px;
    height: 550px;
    width: 400px;
    border-radius: 1rem;
}

.display {
    background-color: #adadaa;
    height: 25%;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-right: 8px;
    margin-bottom: 24px;
}

.display-text {
    font-size: 2.3rem;
}


button {
    cursor: pointer;
    width: 20%;
    padding: 10px;
    border-radius: 22px;
    border: none;
}

.double {
    width: 45%;
    border-radius: 12px;
}

.btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.number, .decimal {
    background-color: #3b3838;
}

.operator, .equal-btn {
    background-color: #ff9500;
}

.clear-btn, .del-btn, .change-sign-btn{
    background-color: #adadaa;
}
